@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins&display=swap');

body, html, {
  @apply font-poppins;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

h1 {
  @apply font-abril text-6xl;
}